/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    flex-grow: 0;
}

main {
    /* Ensure main absorbs all extra space so footer appears at bottom of page (must have flex-grow */
    /* set to 0 for header and footer) */
    flex: 1;
}

footer {
    flex-grow: 0;
}

p {
    margin: 0;
}