/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    background-color: #171414;
    color: #EFEEEE;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 5px;
    font-family: 'Merriweather Sans', sans-serif;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    background-color: rgba(23, 20, 20, 0.7);
    position: fixed;
    z-index: 99;
    width: 100%;
}

header a {
    text-decoration: none;
    width: fit-content;
}

header h1 {
    font-family: 'Vollkorn', sans-serif;
    /* Give logo a box appearance */
    border: solid;
    width: fit-content;
    padding: 0 4px;
    margin-left: 5px;
}

#nav-menu {
    list-style-type: none;
}

#nav-menu > li {
    margin-bottom: 5px;
}

.current {
    color: lightblue;
}

/* Nav styles */
nav {
    position: absolute;
    background-color: rgba(23, 20, 20, 0.7);
    left: 0;
    width: 100%;
    display: none;
}

.nav-toggle-box-label {
    margin-right: 20px;
}

/* Main content styles */
main {
    /* Ensure main absorbs all extra space so footer appears at bottom of page (must have flex-grow */
    /* set to 0 for header and footer) */
    flex: 1;
}

footer {
    flex-grow: 0;
}

p {
    margin: 0;
}