/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    background-color: #171414;
    color: #EFEEEE;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
}

/* Header styles */
.transparent {
    background-color: rgba(23, 20, 20, 0.0);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 0 5px;
    background-color: rgba(23, 20, 20, 0.4);
    font-size: 75%;
}

header a {
    text-decoration: none;
    width: fit-content;
}

header h1 {
    font-family: 'Vollkorn', sans-serif;
    /* Give logo a box appearance */
    border: solid;
    width: fit-content;
    padding: 0 4px;
    margin: 16px 8px;
}

/* Nav styles */
nav {
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
    top: 100%;
    background-color: rgba(23, 20, 20, 0.4);
}

#nav-menu {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 5px 20px;
}

#nav-menu>li {
    margin-bottom: 7px;
}

.current {
    color: lightblue;
}

#nav-toggle-box:checked~nav {
    display: block;
}

#nav-toggle-box {
    display: none;
}

.nav-toggle-box-label {
    margin-right: 20px;
}

/* Main content styles */
main {
    /* Ensure main absorbs all extra space so footer appears at bottom of page (must have flex-grow */
    /* set to 0 for header and footer) */
    flex: 1;
}

/* Hero section styles */
#hero {
    width: 100%;
    height: 750px;
    background: url('../images/glasgow-hero.webp') no-repeat center center/cover;
}

#hero-cover {
    background-color: rgba(23, 20, 20, 0.4);
    width: fit-content;
    height: fit-content;
    font-family: 'Vollkorn', sans-serif;
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#hero-cover > h2 {
    margin: 2px 10px;
    font-weight: bold;
}

/* Glasgow information section */
#glasgow-info {
    display: flex;
    margin: 0 12px;
    flex-direction: column;
}

#glasgow-info > h2 {
    font-family: 'Vollkorn', sans-serif;
    text-decoration: underline;
    align-self: center;
}

#glasgow-info-blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#accent, #locals {
    font-size: 0.65rem;
    border: solid;
    border-radius: 3%;
    margin: 6px;
    padding: 0 5px;
    max-width: 300px;
}

#accent > p, #locals > p {
    padding-left: 8px;
}

/* Footer styles */
footer {
    flex-grow: 0;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 -1.25px #EFEEEE;
}

footer > p {
    margin: 0;
    /* Reduce text size to accommodate social media links in same row */
    font-size: 50%;
    align-self: center;
    padding-left: 2px;
}

#social-media {
    list-style-type: none;
    /* Style to get social media icons in row at end of container */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 7px 0 40px;
}

#social-media > li {
    padding: 0 6px;
}

/* Media query: tablets and larger screens (768px and up) */
@media screen and (min-width: 768px) {
    /* Header styles */
    header {
        font-size: 80%;
    }

    /* Nav styles */
    nav {
        display: block;
        position: relative;
        background-color: rgba(23, 20, 20, 0.0);
        justify-self: end;
        width: fit-content;
        margin-right: 12px;
    }

    .nav-toggle-box-label {
        display: none;
    }

    #nav-menu {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        font-size: 105%;
    }

    #nav-menu > li {
        padding: 0 15px;
        margin: 0;
    }

    /* Hero styles*/
    #hero-cover {
        height: fit-content;
        width: fit-content;
    }

    #hero-cover > h2 {
        font-size: 250%;
        letter-spacing: 1px;
    }

    /* Glasgow information section */
    #accent, #locals {
        font-size: 0.8rem;
    }

    /* Footer styles */
    footer {
        /* Increase size of Favicon text and social media icons on larger screens */
        font-size: 200%;
    }

    footer > p {
        padding-left: 6px;
    }

    #social-media {
        padding: 0 16px 0 40px;
    }

    #social-media>li {
        padding: 0 12px;
    }
}

/* Media query: laptop and desktop screens (992px and up) */
@media screen and (min-width: 992px) {
    /* Header styles */
    header {
        font-size: 110%;
    }

    /* Nav styles */
    #nav-menu {
        /* Restore font size to 110% as there is enough space for the text in navigation links on larger screens */
        font-size: 110%;
    }

    #nav-menu a:hover {
        color: lightblue;
    }

    /* Hero styles */
    #hero-cover {
        height: fit-content;
        width: fit-content;
    }

    #hero-cover > h2 {
        font-size: 320%;
    }

    /* Glasgow information section */
    #accent, #locals {
        font-size: 1rem;
        max-width: 450px;
    }
}