/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    background-color: #171414;
    color: #EFEEEE;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Vollkorn', sans-serif;
}

h3 {
    text-decoration: underline;
    text-align: center;
}

.transparent {
    background-color: rgba(23, 20, 20, 0.0);
}

/* Header styles */header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 0 5px;
    background-color: rgba(23, 20, 20, 0.4);
    font-size: 75%;
}

header a {
    text-decoration: none;
    width: fit-content;
}

header h1 {
    /* Give logo a box appearance */
    border: solid;
    width: fit-content;
    padding: 0 4px;
    margin: 16px 8px;
}

header i {
    font-size: 180%;
    margin-right: 2px;
}

/* Nav styles */
nav {
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
    top: 100%;
    background-color: rgba(23, 20, 20, 0.4);
}

#nav-menu {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 5px 20px;
}

#nav-menu>li {
    margin-bottom: 7px;
}

.current {
    color: lightblue;
}

#nav-toggle-box:checked~nav {
    display: block;
}

#nav-toggle-box {
    display: none;
}

.nav-toggle-box-label {
    margin-right: 20px;
}

/* Main content styles */
main {
    /* Ensure main absorbs all extra space so footer appears at bottom of page (must have flex-grow */
    /* set to 0 for header and footer) */
    flex: 1;
}

/* Home page styles */
/* Hero section styles */
#hero {
    width: 100%;
    height: 750px;
    background: url('../images/glasgow-hero.webp') no-repeat center center/cover;
    box-shadow: 0 1.25px #EFEEEE;
}

#hero-cover {
    background-color: rgba(23, 20, 20, 0.4);
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#hero-cover > h2 {
    margin: 2px 10px;
    font-weight: bold;
}

/* Glasgow information section */
#glasgow-info {
    display: flex;
    margin: 1.25px 12px 12px 15px;
    flex-direction: column;
}

#glasgow-info > h2 {
    font-family: 'Vollkorn', sans-serif;
    text-decoration: underline;
    align-self: center;
    font-size: 90%;
}

#glasgow-info-blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#accent, #locals {
    font-size: 0.65rem;
    border: solid;
    border-radius: 3%;
    margin: 6px;
    padding: 0 5px;
    max-width: 300px;
}

#accent > p, #locals > p {
    padding-left: 8px;
}

/* Glasgow Clyde image section styles */
#glasgow-clyde {
    width: 100%;
    height: 750px;
    background: url('../images/glasgow-clyde.webp') no-repeat center center/cover;
    box-shadow: 0 -1.25px #EFEEEE;
}

/* Where to visit? section styles */
#where-to-visit {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding: 0 5px;
    box-shadow: 0 -1.25px #EFEEEE;
    font-size: 70%;
}

#where-to-visit > h2 {
    text-decoration: underline;
    align-self: center;
}

#where-to-visit-blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#where-to-visit-blocks div {
    margin: 0 25px;
}

#kelvingrove-park-image, #botanic-gardens-image, #mitchell-library-image, #hampden-park-image {
    border: solid;
    border-radius: 3%;
    height: 250px;
    width: fit-content;
    overflow: hidden;
} 

/* Locations map section styles */
#glasgow-locations-map > iframe {
    width: 100%;
    height: 325px;
    box-shadow: 0 -1.25px #EFEEEE;
    border-width: 0;
}

/* Gallery page styles */
#slider {
    width: 250px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    overflow: hidden;
}

#slide-container {
    width: 2200px;
    height: 200px;
    position: relative;
    clear: both;
}

.slide {
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}

/* When anchor element with href 'slide-x' clicked, 'move' slide-container to right */
#slide-1:target ~ #slide-container {
    left: 0px;
}

#slide-2:target ~ #slide-container {
    left: -250px;
}

#slide-3:target ~ #slide-container {
    left: -500px;
}

#slide-4:target ~ #slide-container {
    left: -750px;
}

#slide-5:target ~ #slide-container {
    left: -1000px;
}

#slide-6:target ~ #slide-container {
    left: -1250px;
}

#slide-7:target ~ #slide-container {
    left: -1500px;
}

#slide-8:target ~ #slide-container {
    left: -1750px;
}

#slider-buttons {
    position: relative;
    top: -24px;
    text-align: center;
}

#slider-buttons a {
    width: 12px;
    height: 12px;
    background-color: #EFEEEE;
    display: inline-block;
    margin: 0 2px;
}

/* Footer styles */
footer {
    flex-grow: 0;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 -1.25px #EFEEEE;
}

footer > p {
    margin: 0;
    /* Reduce text size to accommodate social media links in same row */
    font-size: 50%;
    align-self: center;
    padding-left: 2px;
}

#social-media {
    list-style-type: none;
    /* Style to get social media icons in row at end of container */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 7px 0 40px;
}

#social-media > li {
    padding: 0 6px;
}

/* Media query: tablets and larger screens (768px and up) */
@media screen and (min-width: 768px) {
    /* Header styles */
    header {
        font-size: 80%;
    }

    /* Nav styles */
    nav {
        display: block;
        position: relative;
        background-color: rgba(23, 20, 20, 0.0);
        justify-self: end;
        width: fit-content;
        margin-right: 12px;
    }

    .nav-toggle-box-label {
        display: none;
    }

    #nav-menu {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        font-size: 105%;
    }

    #nav-menu > li {
        padding: 0 15px;
        margin: 0;
    }

    /* Hero styles*/
    #hero-cover {
        height: fit-content;
        width: fit-content;
    }

    #hero-cover > h2 {
        font-size: 250%;
        letter-spacing: 1px;
    }

    /* Glasgow information section styles */
    #glasgow-info > h2 {
        font-size: 125%;
    }

    #accent, #locals {
        font-size: 0.8rem;
    }

    /* Where to visit? section styles */
    #where-to-visit {
        font-size: 90%;
    }

    /* Gallery page styles */
    #slider {
        width: 450px;
        height: 360px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 115px;
        left: 0;
        right: 0;
        overflow: hidden;
    }

    #slide-container {
        width: 4150px;
        height: 360px;
        position: relative;
        clear: both;
    }

    /* Adjust width and height with CSS so slide fits slide container */
    .slide {
        width: 450px;
        height: 360px;
        margin: 0;
        padding: 0;
        float: left;
        position: relative;
    }

    /* When anchor element with href 'slide-x' clicked, 'move' slide-container to right */
    #slide-1:target~#slide-container {
        left: 0px;
    }

    #slide-2:target~#slide-container {
        left: -450px;
    }

    #slide-3:target~#slide-container {
        left: -900px;
    }

    #slide-4:target~#slide-container {
        left: -1350px;
    }

    #slide-5:target~#slide-container {
        left: -1800px;
    }

    #slide-6:target~#slide-container {
        left: -2250px;
    }

    #slide-7:target~#slide-container {
        left: -2700px;
    }

    #slide-8:target~#slide-container {
        left: -3150px;
    }

    #slider-buttons {
        position: relative;
        top: -28px;
        text-align: center;
    }

    #slider-buttons a {
        width: 12px;
        height: 12px;
        background-color: #EFEEEE;
        display: inline-block;
        margin: 0 4px;
    }

    /* Footer styles */
    footer {
        /* Increase size of Favicon text and social media icons on larger screens */
        font-size: 200%;
    }

    footer > p {
        padding-left: 6px;
    }

    #social-media {
        padding: 0 16px 0 40px;
    }

    #social-media>li {
        padding: 0 12px;
    }
}

/* Media query: laptop and desktop screens (992px and up) */
@media screen and (min-width: 992px) {
    /* Header styles */
    header {
        font-size: 110%;
    }

    /* Nav styles */
    #nav-menu {
        /* Restore font size to 110% as there is enough space for the text in navigation links on larger screens */
        font-size: 110%;
    }

    #nav-menu a:hover {
        color: lightblue;
    }

    /* Hero styles */
    #hero-cover {
        height: fit-content;
        width: fit-content;
    }

    #hero-cover > h2 {
        font-size: 320%;
    }

    /* Glasgow information section styles */
    #glasgow-info > h2 {
        font-size: 160%;
    }

    #accent, #locals {
        font-size: 1rem;
        max-width: 450px;
    }

    /* Where to visit? section styles */
    #where-to-visit {
        font-size: 110%;
    }
}